<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment1"
        tools:targetApi="31">
        <activity
            android:name=".Navigation"
            android:exported="false" />
        <activity
            android:name=".video_call"
            android:exported="false" />
        <activity
            android:name=".video"
            android:exported="false" />
        <activity
            android:name=".report"
            android:exported="false" />
        <activity
            android:name=".photo"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".audio_call"
            android:exported="false" />
        <activity
            android:name=".post_item"
            android:exported="false" />
        <activity
            android:name=".item"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".Person_chat"
            android:exported="false" />
        <activity
            android:name=".search_result"
            android:exported="false" />
        <activity
            android:name=".activity_emailVerification"
            android:exported="false" />
        <activity
            android:name=".ForgotP_activity"
            android:exported="false" />
        <activity
            android:name=".Signup_activity"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>